/* Medium Layout: 1280px. */
@media only screen and (max-width: 992px) { 
  .counters-item {

		margin-bottom: 30px;
	}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

	.navbar-collapse ul.nav li a {
		font-size: 13px;
		padding: 25.5px 10px;
	}
	.testimonial_quoteleft ,
	.testimonial_quoteright{
		display: none;
	}
	.pricing-table,
	.team-member{
		margin-bottom: 30px;
	}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

	.logo img {
	  top: 7px;
	}
	#home_slider .item{
		height: 700px;
	}
	#home_slider .item h1{
		font-size: 25px;
	}	
	.element-item{
		width: 50%;
	}
	.navbar-collapse ul.nav li a {
		border-left: none;
		padding: 10.5px 86px;
		display: block;
		overflow: hidden;
	}
	.navbar-collapse ul.nav {
	  border-right: none;
	  text-align: center;
	}
	.navbar-nav {
	  margin-bottom: 0px;
	  margin-top: 15px;
	}
	.testimonial_quoteleft ,
	.testimonial_quoteright{
		display: none;
	}
	.pricing-table,
	.team-member{
		margin-bottom: 30px;
	}
	.contact {
		padding: 0 0px;
	}
	#home_slider .carousel-control{
		display: none;
	}	
}
/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px) { 
	.element-item{
		width: 100%;
	}
	#home_slider .btn-custom, .get_started {

	  margin-bottom: 20px;
	}	
}