@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
.sin-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.sin-padding-left{
  padding-left: 0px !important;
}
.sin-padding-right{
  padding-right: 0px !important;
}
::-webkit-input-placeholder { color:#b8b9c0 !important; }
::-moz-placeholder { color:#b8b9c0 !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#b8b9c0 !important; } /* ie */
input:-moz-placeholder { color:#b8b9c0 !important; }

body {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #474b62;
  /*font-family: 'Roboto-regular', sans-serif;*/
  /*font-weight: 300;*/
  /*color: #454545; */
  /*font-size:15px;*/
  /*line-height: 26px;*/
}
.rob-leftside{
  background-color: #474B62 !important;
}
.rob-leftside .rob-title{
  color: #b8b9c0;
  font-size: 22px;
  margin: 25px auto;
  text-align: center;
  font-weight: bold;
}
.rob-leftside .rob-form-login {
  margin-bottom: 15px;
}
.rob-leftside .rob-form-login .input-group-addon {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
  color: #ffffff;
  /*color: #b8b9c0;*/
  border-bottom-color: #b8b9c0 !important;
}
.rob-leftside .rob-form-login .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  /*color: #b8b9c0;*/
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-bottom-color: #b8b9c0 !important;
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.rob-form-btn{
  background-color: transparent;
  background-image: none;
  /*border: 1px solid #ffffff;*/
  border: 1px solid #b8b9c0;
  border-radius: 10%;
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
  color: #ffffff;
  /*color: #b8b9c0;*/
  margin-top: 5px;
  /*border-bottom-color: #b8b9c0 !important;*/
}
.input-group {
    margin-bottom: 15px;
}
.rob-pass{
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.rob-derechos {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    bottom: 0px;
    font-size: 10px;
}
.rob-otherside{
  background-color: white;
}
.rob-modal-des {
  height: 450px;
  word-wrap: break-word;
  text-align: justify;
  overflow: auto;
}
.rob-modal-iframe{
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.rob-modal-iframe h4{
  font-weight: bold;
}
.modal-header {
    border-bottom: 1px solid transparent;
}
/*.modal-body{*/
  /*border-top: 1px solid #e5e5e5;*/
  /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
.modal-footer {
    margin-top: 15px;
    border-top: 1px solid transparent;
}
.rob-search-land{
  color: #b8b9c0;
  font-size: 22px;
  margin: 25px auto;
}
.rob-title-land{
  color: #b8b9c0;
  font-size: 22px;
  margin-top: 25px;
  font-weight: bold;
}
.rob-cat-land{
  color: #b8b9c0;
  font-size: 12px;
  float: right;
  margin: 25px auto;
  font-weight: bold;
}
.rob-cat-land>li>a{
  color: #b8b9c0;
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: #474B62;
  /*background: #ffffff;*/
}
.modal-fullscreen .modal-content {
  /*background: #474B62;*/
  background: #ffffff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}
.rob-modal-preload {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    z-index: 99;
    color: black;
    text-align: center;
    padding-top: 20%;
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.rob-img-item {
    width: 250px;
    height: 100px;
    margin: 0px auto;
    cursor: pointer;
}
.rob-item-check{
  display:none;
}
.active .rob-item-check {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 15px;
    height: calc(100% - 30px);
    vertical-align: middle;
    color: white;
    text-align: right;
    left: 15px;
    width: calc(100% - 30px);
    padding: 15px;
}
.portfolio-item .rob-item-contect{
  margin: 15px 0;
}
.fondo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
.rob-btn {
    position: absolute;
    color: #fff;
    background-color: #474b62;
    border-color: #474b62;
    z-index: 10;
}
.rob-btn:hover,.rob-btn:focus,.rob-btn:active {
    position: absolute;
    color: #fff;
    background-color: #474b62;
    border-color: #474b62;
    z-index: 10;
}
.portfolio-item{
    position: relative;
    overflow: hidden;
}

.opacity{
  opacity:0;
}
.rob-item-check span {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid white;
    padding: 5px;
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    right: 0;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
